.app {
  background-color: #202b38;
  color: #fff;
  min-height: 100vh;
}

.app__header {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  align-items: center;
}

.app__body {
  padding: 2rem;
}

.app__logo {
  width: 7rem;
  margin-right: 2rem;
}

.app__cardList {
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.app__listItem {
  width: 40%;

}